%h1= 'Articles Search'

= form_for search_path, method: :get do |f|
  %p
    = f.label "Search for"
    = text_field_tag :q, params[:q]
    = submit_tag "Go", name: nil

%ul
  - @articles.each do |article|
    %li
      %h3
        = link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
          controller: "articles", action: "show", id: article._id
      - if article.try(:highlight).try(:content)
        - article.highlight.content.each do |snippet|
          %p= "#{snippet.html_safe} ..."
