.col-md-4
  .tile_item{class: index.odd? ? 'odd' : 'even'}
    .tile_header
      .caption
        = link_to "Box #{index}", '#'

    .tile_content.text-center
      - if index.odd?
        %p
          %strong.amount= "$8.079.000 |"
          ="Approved"
        %p
          %strong.amount= "$19.000 |"
          ="Cancelled"
        %p
          %strong.amount= "$9.000 |"
          ="Pending"
      - else
        %div{ id: "donut_chart##{index}",  style: "height: 190px; width:300px" }
        %h2= '45%'

