- model_class = Article
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

  - # Search
  = render 'components/search'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:content)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody{id: "articles"}
    = render 'articles_list'

= link_to t('.new', :default => t("helpers.links.new")), new_article_path, :class => 'btn btn-primary'
= link_to 'All Articles', articles_path if params[:q]